@model U5_Proyecto_Blog.Areas.Administrador.Models.ViewModels.Posts.EditarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Editar Post";
    Layout = "~/Views/Shared/_LayoutProfile.cshtml";
}

<h1>Editar</h1>

<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: '#mytextarea'
    });
</script>

<div class="admin-content">
    <div class="content">
        <h2 class="page-title">Administrar posts</h2>
        <form action="~/administrar/posts/editar" method="post" enctype="multipart/form-data">
            <input asp-for="IdPost" hidden />
            <div>
                <label>Titulo</label>
                <input asp-for="Titulo" class="text-input">
            </div>
            <div>
                <label>Texto</label>
                <textarea name="Contenido" id="mytextarea">
                    @Html.Raw(Model.Contenido)
                    </textarea>
            </div>
            <div>
                <label>Categorias</label> <br />

                @for (var i = 0; i < Model.Categorias.Count(); i++)
                {
                    <label for="@(Model.Categorias[i].Nombre)">@Model.Categorias[i].Nombre</label>
                    <input asp-for="Categorias[i].IdCategoria" hidden />
                    <input asp-for="Categorias[i].Nombre" hidden />
                    <input asp-for="Categorias[i].Seleccionada" type="checkbox" id="@(Model.Categorias[i].Nombre)" />
                }

                @Html.ValidationSummary(true)

            </div>
            <input type="file" id="fileUpload1" accept="image/png" asp-for="Archivo" />
            <img id="imagePreview" src="~/imagenes/@(Model.IdPost).png" width="250" asp-append-version />
            <div>
                <button type="submit" class="btn btn-big">Editar Post</button>
                <a href="~/administrar/posts">
                    <input type="button" class="btn btn-big" value="Cancelar" id="btnNo" />
                </a>
            </div>
        </form>
        <script>
            function mostrarImagen(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        document.getElementById('imagePreview').src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            document.getElementById('fileUpload1').addEventListener('change', function () {
                mostrarImagen(this);
            });
        </script>
    </div>
</div>
