@model U5_Proyecto_Blog.Models.ViewModels.Post.DetallesViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="content clearfix">
        <div class="main-cont single">
            <h1 class="post-title">@Model.Titulo</h1>
            <div class="post-content">
                @Html.Raw(Model.Contenido)
            </div>
        </div>
        <div class="sidebar single">
            <div class="section postrandom">
                <h2 class="section-title">Tambien te podria interesar</h2>
                @foreach(var recomendado in Model.Recomendados)
                {
                    <div class="post clearfix">
                        <img src="~/imagenes/@(recomendado.Id).jpg" alt="@(recomendado.Titulo)" asp-append-version>
                        <a href="~/post/@recomendado.Titulo.ToLower().Replace(" ", "-")" class="title"><h4>@recomendado.Titulo</h4></a>
                    </div>                    
                }
            </div>
            <div class="section topics">
                <h2 class="section-title">Categorias</h2>
                <ul>
                    @foreach(var categoria in Model.Categorias)
                    {
                        <li><a href="~/categoria/@categoria.Nombre.ToLower().Replace(" ", "-")">@categoria.Nombre</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
