@model U1_Actividad2.Models.ViewModels.IndexViewModel
@{
    Layout = "_Layout";
}

<form action="/Home/Index">
    <div>
        <label for="Cantidad">Cantidad:</label>
        <input type="number" value="@Model.Cantidad" name="Cantidad" />
    </div>

    <div>
        <label>Conversion origen:</label>

        <input type="radio" id="OrigenMxn" name="conversionOrigen" value="MXN" @(Model.conversionOrigen == "MXN" ? "checked" : string.Empty)/>
        <label for="OrigenMxn">MXN</label>

        <input type="radio" id="OrigenUsd" name="conversionOrigen" value="USD" @(Model.conversionOrigen == "USD" ? "checked" : string.Empty) />
        <label for="OrigenUsd">USD</label>

        <br />

        <label>Conversion destino:</label>

        <input type="radio" id="DestinoMxn" name="conversionDestino" value="MXN" @(Model.conversionDestino == "MXN" ? "checked" : string.Empty) />
        <label for="DestinoMxn">MXN</label>

        <input type="radio" id="DestinoUsd" name="conversionDestino" value="USD" @(Model.conversionDestino == "USD" ? "checked" : string.Empty) />
        <label for="DestinoUsd">USD</label>
    </div>

    <input type="submit" value="Convertir" />

    <p> @Model.Resultado </p>
</form>

